PORT=5000
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/shortlink

JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here